<div class="container mt-3">
    <div class=" row ">
        <div class="col ">
            <p class="h3 text-danger fw-bold ">Welcome Admin
                <br>
                <br>
                <a routerLink="/admin" class="btn btn-danger btn-sm ">
                    <i class="fa fa-user"></i>CUSTOMERS</a>
                <BR>
                <BR>
                <a routerLink="/serviceAgent" class="btn btn-danger btn-sm ">
                    <i class="fa fa-users green-color"></i>SERVICE AGENTS</a>
            </p>
            <form action="">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col">

                                <input type="text" class="form-control" placeholder="Search User">
                            </div>
                            <div class="col">
                                <input type="submit" class="btn btn-outline-dark" value="Search">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- cards -->
<div class="container mt-3">
    <div class="row">
        <div class="col-md-6" *ngFor="let items of customerArray">
            <br>
            <div class="card list-group-item-danger shadow-lg">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-sm-4">
                            <img src="https://tse1.mm.bing.net/th?id=OIP.PqBYGErQeWQWhbA_VeUBDQHaHa&pid=Api&P=0&w=165&h=165" class="contact-img" alt=" ">
                        </div>
                        <div class="col-sm-7 ">
                            <ul class="list-group ">
                                <li class="list-group-item ">Name :
                                    <span class="fw-bold ">{{items.name}}</span></li>
                                <li class="list-group-item ">Email :
                                    <span class="fw-bold ">{{items.email}}</span></li>
                                <li class="list-group-item ">Mobile :
                                    <span class="fw-bold ">{{items.mobileNo}}</span></li>
                            </ul>
                        </div>

                        <div class="col-sm-1 d-flex flex-column justify-contents-center align-items-center ">
                            <!-- <a class="btn btn-warning my-1 " routerLink="/viewCustomer/:customerId" (click)="view(items._id)">
                                <i class="fa fa-eye "></i>
                            </a> -->

                            <a class="btn btn-primary my-1 " routerLink="/editCustomer/:customerId " (click)="navigateToEdit(items._id)">
                                <i class="fa fa-pen "></i>
                            </a>
                            <a class="btn btn-primary my-1 " routerLink="/addCustomer">
                                <i class="fa fa-plus-circle "></i>
                            </a>
                            <button class="btn btn-danger my-1 " (click)="delete(items._id)">
                                <i class="fa fa-trash-alt "></i>
                            </button>

                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- card end -->
    <br>
    <div style="text-align:center; "><br>
        <button type="button " class="btn btn-primary ">
    <i class="bi bi-plus-lg ">Create</i></button>
        <a class="btn btn-warning my-1 " routerLink="/viewCustomer/:customerId">
            <i class="fa fa-eye ">view</i>
        </a>
    </div>


    <!-- table -->
    <table class="table ">
        <thead>
            <tr>
                <th scope="col ">Name</th>
                <th scope="col ">Email</th>
                <th scope="col ">Mobile No</th>
                <th scope="col ">Product Id</th>
                <th scope="col ">Product Type</th>
                <th scope="col ">Compliant</th>
                <th scope="col ">Invoice Url</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let items of customerArray ">
                <td>{{items.name}}</td>
                <td>{{items.email}}</td>
                <td>{{items.mobileNo}}</td>
                <td>{{items.productId}}</td>
                <td>{{items.productType}}</td>
                <td>{{items.compliant}}</td>
                <td>{{items.invoiceUrl}}</td>
                <td>
                    <button class="btn btn-primary " (click)="navigateToEdit(items._id)"> Edit
                    <i class="bi bi-pencil-square " ></i>
                </button>
                    <button class="btn btn-danger " (click)="delete(items._id)">Delete
                    <i class="bi bi-archive " ></i>
                </button>
                </td>
            </tr>


        </tbody>
    </table>