.tabClass {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    margin-left: 30rem;
    margin-right: 30rem;
}

.loginCard {
    border: 1px solid rosybrown;
    border-radius: .8rem;
}

mat-form-field {
    width: 100%;
}